/* 
   File: profile.css
   Created by: Josh Palmeri
   2015.05.06
   used on profile.php
*/

.overlay {
	display: block;
	position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	visibility: visible;
}