/* 
   File: FILENAME.css
   Created by: Josh Palmeri, joshpalmeri.com
   2014.11.08
   DESCRIPTION
*/

.overlay {
	display: block;
	position: relative;
	opacity: 1;
	visibility: visible;
}

/* Media Queries */
@media only screen and (min-width: 0px) and (max-width: 959px) {
    
}

@media only screen and (min-width: 400px) {
    
}

@media only screen and (min-width: 540px) {

}

@media only screen and (min-width: 600px) {
    
}

@media only screen and (min-width: 680px) {

}

@media only screen and (min-width: 740px) {
    
}

@media only screen and (min-width: 860px) {
    
}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1140px) {

}

@media only screen and (min-width: 1920px) {

}